@media (max-width: 768px) {
	.meow-content {
		display: none;
	}

}
body {
	font-family: Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
}
/*骨架*/

.meow {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	margin: 0;
}
header {
	flex: 0 0 5em;
	display: flex;
	background: #65bd77;
	font-size: 16px;
}
.meow-body {
	display: flex;
	flex: 1;
	background: black;
}
/*两栏的宽度通过flex设定*/

.meow-list {
	flex: 1;

}
.meow-content {
	flex: 3;
	background: #FFFFFF;
}
.meow-list {
	/* 通过order设定显示顺序*/
	
	display: flex;
	order: -1;
	/*垂直居中*/
	
	flex-direction: column;
	align-items: center;
	background: #EBEBEB;
}
/*填充*/

header li {
	line-height: inherit;
	display: inline;
	padding: 1em;
	align-self: center;
	color: #FFFFFF;
}
header a {
	line-height: inherit;
	text-decoration: none;
	color: #FFFFFF;
}
.note-panel {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 140px;
	background: #FFFFFF;
	border-radius: 9px;
	margin: 10px;
}

.note-panel-title {
	text-align: center;
	color: #A5A1A1;
	font-size: 20px;
}
.note-panel-content {
	height: 73px;
	color: #868585;
	line-height: 18px;
	max-height: 36px;
	overflow: hidden;
}
.note-panel-footer {
	font-size: 20px;
	background-color: #E0E0E0;
	color: #FFFFFF;
}
.note-panel-time {
	
	float: left;
}
.note-panel-edit {
	float: right;
}
.meow-content-title {
	color: #A5A1A1;
	text-align: center;
}
.meow-content-note{
padding: 10px;
margin: 0 20px;
border: 1px solid #E0E0E0;
border-radius: 6px;
text-align: center;
overflow: auto;
}
.content-edit {
margin: 0 20px;
padding: 10px;
line-height: 10px;
float: right;
font-size: 30px;}
/*组件*/
/*.ul {
	position: relative;
	width: 230px;
	height: 480px;
	margin: 0;
	padding: 0;
	list-style: none;

}
	.ul .li {
		position: relative;
		padding: 16px;
		background: #eee;
		color: #252525;
		font-size: 18px;

	}
	.ul .li:nth-child(odd) {
		background: #fff;
	}*/